.root {
  background: #eee;
  padding: 20px;
  flex-flow: column;

  & > * {
    flex: 0 0 auto;
  }
}

.tabSection {
  flex-flow: column;

  & > * {
    flex: 0 0 auto;
  }
}

.tab {
  display: grid;
  width: 900px;
  padding: 5px;
  grid-template-columns: 30px 1fr;

  &:hover {
    background: white;
    & .tabActions {
      opacity: 1;
    }
  }
}

.tabContent {
  display: flex;
  flex-flow: column;

  & > * {
    flex: 0 0 auto;
  }
}

.tabHeader {
  justify-content: space-between;
}
.favicon {
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
.tabTitle {
  flex: 1 1 1px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tabActions {
  opacity: 0;
}

.tabDetails {
  display: grid;
  grid-template-columns: 300px 1fr;
}
