.root {
  padding: 20px;
  flex-flow: column;

  & > * {
    flex: 0 0 auto;
    margin-bottom: 10px;
  }
}

.tab {
  flex-flow: column;

  & > * {
    flex: 0 0 auto;
  }
}

.tabTitle {
  font-weight: bold;
}

.tabDetails {
  display: grid;
  grid-template-columns: 300px 1fr;
}
